{% if metadata['entries'] %}
{% for entry in metadata['entries'] %}{% set descriptor = 'file' if entry.count == 1 else 'files' %}- `{{ entry.path }}{% if '/' not in entry.path %}/{% endif %}` - {{ entry.description }} ({{ entry.count }} {{ descriptor }})
{% endfor %}
{% else %}
{{ body | trim | safe }}
{% endif %}
