{% if metadata['commands'] %}
Follow the steps below to get started:

```bash
{% for cmd in metadata['commands'] %}{{ cmd }}
{% endfor %}
```
{% if metadata.context %}
> Context highlights:
{% for snippet in metadata.context %}> {{ snippet }}
{% endfor %}
{% endif %}
{% else %}
{{ body | trim | safe }}
{% endif %}
